@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #22262A;
  --primary: #00B8A9;
  --secondary: #2C3E50;
    --font-inter: 'Inter', sans-serif;
  --font-ffShamel: 'FF Shamel One Book', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #050404;
    --font-inter: var(--font-inter), sans-serif;
  }
} */

body {
  /* background: var(--background); */
  background: "#000000";
  color: var(--foreground);
  font-family: var(--font-inter);
  /* border: 1px solid red; */
  overflow-x: hidden;
}

html[lang="ar"] body {
  font-family: var(--font-ffShamel), 'Cairo', sans-serif;
}

/* MARQUE ANIMATION EFFECT  */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marque-animation {
  animation: marquee 20s linear infinite;
}
.split-line {
  display: block;
  line-height: inherit;
}