@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #22262A;
  --primary: #00B8A9;
  --secondary: #2C3E50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #050404;
    --font-inter: var(--font-inter), sans-serif;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/* MARQUE ANIMATION EFFECT  */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marque-animation {
  animation: marquee 20s linear infinite;
}